extends layout

block content
  h1= title

  form(action="", method="POST") 
    div.form-group.searchdiv
      input#searchBooks.form-control(type="text", placeholder='search books', name = 'searchBar', value=(undefined===searchBar?'': searchBar ))
      button.search.btn.btn-primary(type='submit',) Search

  ul
    each book in book_list
      li
        a(href=book.url) #{book.title}
        |  (#{book.author.name})
    else
      li There are no books.
